<div #container id="container" *ngIf="!preparingGraphics; else spinner">

</div>
<ng-template #spinner>
  <div class="align-center centerize">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<div class="content">
  <div class="title">
    <span>GeoSpatia</span>
  </div>

  <app-no-metamask *ngIf="noMetamask"></app-no-metamask>
  <div class="metamask-button" *ngIf="!noMetamask">
    <div class="location-button">
      <app-loading-button (click)="connect()" [loading]="loading">
        <div class="metamask-logo"></div>
        <span>Connect to MetaMask</span>
      </app-loading-button>
    </div>
  </div>

</div>
