:host {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #424242;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.metamask-logo {
  background: url("../../assets/MetaMask-logo.svg") center no-repeat;
  width: 24px;
  height: 24px;
  background-size: contain;
  display: flex;
  margin-right: 5px;
}
.inner-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  place-content: center;
  height: 100%;
}
#container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  // background: url("../../assets/earth.gif") no-repeat;
  // background-position: 55% 50%;
  // background-size: 105% 105%;

}
.content {
  height: 100%;
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  place-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .title {
    font-family: "Krona One";
    margin-top: 20px;
    span {
      font-size: 40px;
      letter-spacing: 1px;
      color: rgb(98, 193, 169);
    }
  }
  .logo-image {
    margin-top: 32px;
    background-color: yellow;
    width: 64px;
    height: 64px;
  }
  .metamask-button {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    place-content: center;
  }
  .location-button {
    display: flex;
    width: 100%;
    align-items: center;
    place-content: center;

  }

}
