
:host {
  margin-top: 32px;
  display: flex;
  width: 100%;
  mat-card {
    padding-bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display:flex;
    align-items: center;
    flex-direction: column;
    h1 {
      color: red;
      text-align: center;
      font-family: 'Kanit';
    }
    p {
      text-align: center;
    }
    img {
      text-align: center;
    }
  }
}
