<mat-card>
  <h1>No supported wallet</h1>
  <p class="caption">Please install Metamask extension</p>
  <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn" target="_blank"><img src="https://storage.googleapis.com/web-dev-uploads/image/WlD8wC6g8khYWPJUsQceQkhXSlv1/tbyBjqi7Zu733AAKA5n4.png" /></a>
  <button mat-button (click)="reload()">Reload</button>
</mat-card>
